.grid {
  height: 512px;
  max-width: 512px;
  position: relative;
  background: #000;
  overflow: hidden;
}

.star {
  display: block;
  border-radius: 100%;
  width: 2%;
  height: 2%;
  background: #FFF;
  position: absolute;
}

.sector-label {
  color: #BBB;
  font-family: Verdana,serif;
  font-size: 11px;
  display: block;
  width: 80px;
  position: absolute;
  left:1%;
}
#sec-00 {
  top: 1%;
}


.output {
  background:#000;
  color:#FFF;
  font-family: "courier New";
  font-weight: bold;
  padding: 8px;
  max-height: 300px;
  overflow: scroll;
}